.green-button {
  --background: green; 
  --color: white; 
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.title {
  font-size: 48px; /* Mărește fontul titlului */
  font-weight: bold;
  color: green; /* Poți schimba culoarea după preferințe */
  width: 90vw;;
  text-align: center;
}

p{
  width: 90vw;
  text-align: "justify";
}